.page{
    color: black;
    text-align: center;
    margin: 20px 0;
}
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width:70px !important;
    height: 70px !important;
    color: #a6aeb3;
}

.set{
    color: #e8a4a2;
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}
.email{
    color: #a6aeb3;
    font-size: .9rem
}